<div class="modal-overlay" (click)="closeModal()"></div>

<div class="modal-content">
  <div class="modal-tabs">
    <button
      [class.active]="activeTab === 'add-friend'"
      (click)="setActiveTab('add-friend')"
    >
      Freund/in hinzufügen
    </button>
    <button
      [class.active]="activeTab === 'pending-requests'"
      (click)="setActiveTab('pending-requests')"
      class="pending-requests"
    >
      Offene Anfragen
      @if (showHint()) {
        <div class="circle">!</div>
      }
    </button>
  </div>

  <div class="modal-body">
    @if (activeTab === 'add-friend') {
      <div class="search">
        <div class="search__form">
          <input class="search__input" type="text" [(ngModel)]="userId" placeholder="#" />
          <cta-button
            [text]="'Suchen'"
            (click)="setSearchResult(userId)"
            [disabled]="!userId"
          ></cta-button>
        </div>

        @if (this.errorMessage) {
          <p class="error">{{ this.errorMessage }}</p>
        }

        @if (this.foundUser) {
          <div class="search__result">
            <search-result-tile [user]="this.foundUser"></search-result-tile>
          </div>
        }
      </div>
    }

    @if (activeTab === 'pending-requests') {
      @if (this.pendingRequests()?.length === 0) {
        <div>
          <p>Keine offenen Anfragen</p>
        </div>
      } @else {
        @for (request of pendingRequests(); track request) {
          <div>
            <pending-request-tile
              [request]="request"
            ></pending-request-tile>
          </div>
        }
      }
    }
  </div>

  <div class="modal-footer">
    <cta-button [text]="'Schließen'" (click)="closeModal()"></cta-button>
  </div>
</div>
