@import "../../../../../../styles/colors";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  min-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $primary-color;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
}

.error {
  color: $tertiary-color;
}

.pending-requests {
  position: relative;
}

.circle {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #ff6666;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}

.modal-tabs {
  display: flex;
  margin-bottom: 20px;

  button {
    flex: 1;
    padding: 10px;
    border: none;
    background: $tertiary-color;
    color: $secondary-color;
    cursor: pointer;
  }

  button.active {
    background: $secondary-color;
    color: $background-color;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.modal-body {
  padding: 10px 0;
  margin-bottom: 50px;

  .search {
    &__form {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        justify-content: space-between;
      }

      p {
        color: $background-color;
      }
    }

    &__input {
      min-width: 50%;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
