@import "../../../../../../styles/colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:host(.selected) {
  background-color: $tertiary-color;
}

:host(:hover) {
  background-color: rgba($secondary-color, 0.2);
}
