@import "../../../../../../styles/colors";

:host {
  background-color: $primary-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
  color: $background-color;
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
}

h2 {
  border-bottom: 1px solid $background-color;
  margin: 0;
  padding: 20px 0;
}

.no-chat-selected {
  color: $background-color;
  margin: auto;
  font-size: 20px;
}

.message-window {
  padding: 20px;
  overflow-y: scroll;
  max-height: 80%;
}

.message {
  display: flex;
  align-items: center;
}

.my-message {
  justify-content: flex-end;
  background-color: $secondary-color;
  margin-left: auto;
}

.received-message {
  justify-content: flex-start;
  color: $primary-color;
  background-color: $tertiary-color;
}

.received-message,
.my-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 50%;
  width: fit-content;
}

.message-text {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.input-container {
  margin-top: auto;
  display: flex;
  padding: 0 20px;
  gap: 5px;

  input {
    width: 100%;
    color: $background-color;
    border: 1px solid $background-color;
    padding: 10px;
    border-radius: 5px;
  }
}
