@import '../../../../styles/colors';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-color;
}

h1 {
  padding: 1rem;
  color: $primary-color;
  margin: 0;
  cursor: pointer;
}

.right-side {
  display: flex;
  gap: 30px;
  align-items: center;

  .username {
    font-weight: bold;
    color: $primary-color;
  }

  cta-button {
    margin-right: 10px;
  }
}
