@import '../../../../styles/colors';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-color;
}

h1 {
  padding: 1rem;
  color: $primary-color;
  margin: 0;
  cursor: pointer;
}

cta-button {
  margin-right: 10px;
}
