@import "../../../../styles/colors";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto auto auto;
  text-align: center;
  color: $background-color;

  &__subtitle {
    margin-top: 0;
  }

  &__login-link {
    margin-top: 40px;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    &:visited {
      color: $tertiary-color;
    }
  }
}
