:host {
  display: flex;
  flex-direction: column;
}

.register-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;

  &__login-link {
    margin-top: 40px;
  }
}
