@import "../../../../../../styles/colors";

.result {
  display: flex;
  align-items: center;
  background: $secondary-color;
  padding: 10px;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 8px;

  p {
    color: $background-color;
    word-break: break-all;
  }

}
