<app-header></app-header>

@if (this.user) {
  <main class="dashboard-page">
    <h2 class="dashboard-page__title">
      Willkommen, {{ this.user.displayed_name }}
    </h2>

    <div class="dashboard-center">
      <friends-list [friends]="friends"></friends-list>
      <app-chat [sender]="this.user"></app-chat>
    </div>

    <cta-button
      class="add-friend"
      [text]="'Freund/in hinzufügen'"
      (click)="showSearchModal()"
    ></cta-button>

    @if (this.isSearchModalVisible) {
      <search-friend-modal
        [pendingRequests]="this.user.pendingRequests"
        (close)="closeSearchModal()"
      ></search-friend-modal>
    }
  </main>
}

<app-footer></app-footer>
