@import "../../../../styles/colors";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;

  &__title {
    color: $background-color;
  }
}
