<app-header [user]="this.user"></app-header>

@if (this.user) {
  <main class="dashboard-page">
    <div class="dashboard-center">
      @if (isMobileView) {
        <button class="toggle-friends-button"
          (click)="toggleFriendsList()"
          [ngClass]="{ 'rotated': !isFriendsListVisible }"
        ></button>
      }
      @if (isFriendsListVisible) {
        <friends-list
          [friends]="friends"
          (showSearchModalEvent)="showSearchModal()">
        </friends-list>
      }
      <app-chat
        [sender]="this.user"
        [ngClass]="{'full-width': !isFriendsListVisible}"
      ></app-chat>
    </div>



    @if (this.isSearchModalVisible) {
      <search-friend-modal
        [pendingRequests]="this.user.pendingRequests"
        (close)="closeSearchModal()"
      ></search-friend-modal>
    }
  </main>
}

<app-footer></app-footer>
