@import "../../../../styles/colors";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;

  &__title {
    color: $background-color;
  }
}

cta-button {
  margin-top: 20px;
}

.dashboard-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  app-chat {
    width: 65%;
  }

  friends-list {
    width: 35%;
  }
}
