@import "../../../../styles/colors";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 70%;
  margin: auto;
  text-align: center;

  &__title {
    color: $background-color;
  }
}

cta-button {
  margin-top: 20px;
}

visibility-toggle {
  margin-bottom: 20px;
}

.dashboard-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  app-chat {
    width: 65%;
    transition: width 0.3s ease;
  }

  app-chat.full-width {
    width: 100%;
  }

  friends-list {
    width: 35%;
  }

  .toggle-friends-button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $background-color;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform 0.3s ease;
    }

    &.rotated::before {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}
