@import "../../../../../../styles/colors";

.tile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $secondary-color;
  padding: 10px 0;
  border-radius: 8px;

  p {
    color: $background-color;
    word-break: break-all;
  }
}
